[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
django-celery-results = "*"
django-celery-beat = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.8"
